.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}
.viz_frame {
    display: block;
    width: auto;
    height: auto;
    margin: 20px auto;
}
.viz_frame_split {
    width: 50%;
    height: auto;
    display: block;
    float: left;
    text-align: center;
    margin: 20px auto;
}