.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}
.viz_frame {
    width: auto;
    height: auto;
    border: 10px black;
}
.viz_frame_split {
    width: 50%;
    height: auto;
    border: 10px black;
    display: block;
    float: left;
    text-align: center;
}